body {
    margin: 0;
    padding: 0;
    background-color: #0f172a;
    color: white;
    font-family: Arial, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 20px;
}

.controls {
    margin: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(20, 30px);
    grid-template-rows: repeat(20, 30px);

    gap: 2px;
}

.cell {
    width: 30px;
    height: 30px;

    background-color: #1e293b;

    border-radius: 4px;

    transition: 0.2s;
}

.cell.wall {
    background-color: black;
}
.cell.start {
    background-color: green;
}

.cell.end {
    background-color: red;
}

.cell.visited {
    background-color: #38bdf8;
}

.cell.path {
    background-color: yellow;
}